<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>氧育SAAS用户使用手册</title>

    <link rel="stylesheet" type="text/css" href="../dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="guide.css">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="../dist/semantic.min.js"></script>

    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <div class="ui container">
        <div class="ui grid">
            <div id="menu" class="three wide column">
                <div class="ui vertical pointing menu">
                    <menu-list v-for="item in menuList" v-bind:key="item.id" v-bind:tag="item.tag"
                        v-bind:title="item.title">
                    </menu-list>
                </div>
            </div>

            <div id="content" class="twelve wide stretched column">
                <div class="ui segment content">
                    <guide-list v-for="item in guideList" v-bind:key="item.id" v-bind:tag="item.tag"
                        v-bind:title="item.title" v-bind:headnote="item.headnote" v-bind:steps="item.steps"
                        v-bind:video_src="item.video_src" v-bind:video_placeholder="item.video_placeholder">
                    </guide-list>
                </div>
            </div>

        </div>

    </div>

</body>

<script type="text/javascript">

    var tagList = [];

    window.onload = function () {

        $.getJSON("guide.json", function (result) {
            tagList = result.map(function (value) {
                return value.tag;
            });

            checkMenuActiveStatus();
        });
    };

    $(window).scroll(function () {
        checkMenuActiveStatus();
    });

    function checkMenuActiveStatus() {
        for (i = tagList.length - 1; i >= 0; i--) {
            var hT = $('#' + tagList[i]).offset().top,
                hH = $('#' + tagList[i]).outerHeight(),
                wH = $(window).height(),
                wS = $(this).scrollTop();
            if (wS > (hT + hH - wH)) {
                var element = $("[href='#" + tagList[i] + "']");
                if (!element.hasClass('active')) {
                    clearMenuActiveStatus()
                    element.addClass('active');
                }
                break;
            }
        }
    }

    function clearMenuActiveStatus() {
        $('.ui.vertical.menu').find("a").removeClass("active");
    }

    Vue.component('menu-list', {
        props: {
            tag: String,
            title: String
        },
        template: "<a :href=\"'#' + tag\" class=\"item\"> {{ title }} </a>"
    })

    Vue.component('guide-list', {
        props: {
            tag: String,
            title: String,
            headnote: String,
            steps: Array,
            video_src: String,
            video_placeholder: String
        },
        template: "<div class=\"ui container\">\
                        <div class=\"header\"><a :name=\"tag\" :id=\"tag\"> {{ title }} </a></div>\
                        <div v-if=\"headnote\" class=\"headnote\">\
                            <div class=\"container\">\
                                {{ headnote }} \
                            </div>\
                        </div>\
                        <div class=\"ui list\">\
                            <div class=\"item\" v-for=\"(step, index) in steps\">\
                                <div class=\"ui teal circular horizontal label\">{{ index+1 }}</div>\
                                <div class=\"step\">{{ step }}</div>\
                            </div>\
                        </div>\
                        <div class=\"footer\">\
                            具体的操作视频如下：\
                        </div>\
                        <div class=\"ui embed\" v-on:click=\"onplay\" :data-url=\"video_src\" :data-placeholder=\"video_placeholder\"></div>\
                    </div>",
        methods: {
            onplay() {
                console.log("onPlay1");
                this.$emit('onplay');
            },
        },
    })

    new Vue({
        el: '#menu',
        data: {
            menuList: []
        },
        mounted() {
            var $vm = this;

            $.getJSON("guide.json", function (result) {
                $vm.menuList = result;
            });
        }
    })

    new Vue({
        el: '#content',
        data: {
            guideList: []
        },
        mounted() {
            var $vm = this;

            $.getJSON("guide.json", function (result) {
                $vm.guideList = result;
            });
        },
        updated: function () {
            $('.ui.embed').embed();
        },
        methods: {
            onplay: function () {
                console.log("onPlay");
                $('.ui.embed').each(function () {
                    this.pause();
                });
            }
        }
    })
</script>

</html>