
body {
    background-color: #00cddd;
    font-family: PingFangSC-Regular, sans-serif, Microsoft YaHei;
    letter-spacing: .05em;
    color: rgba(34, 34, 34, 1);
}

.ui.grid {
    padding-top: 50px;
}

.three.wide.column {
    margin-right: 20px;
}

.ui.vertical.menu {
    position: fixed;
    box-shadow: 0px 8px 7px 0px 
		rgba(52, 57, 61, 0.11);
    border-radius: 8px;
    border: none;
}

.ui.vertical.menu .item {
    padding: 30px 25px;
    font-family: PingFangSC-Medium;
	font-size: 16px;
}

.ui.vertical.menu .item.active {
    background-color: rgba(0, 205, 221, 0.06);
    color: rgba(0, 205, 221, 1);
}

.ui.vertical.menu .item:hover {
    background-color: rgba(0, 205, 221, 0.06);
    color: rgba(0, 205, 221, 1);
}

.ui.vertical.menu .item.active:hover {
    background-color: rgba(0, 205, 221, 0.06);
    color: rgba(0, 205, 221, 1);
}

.ui.segment.content {
	box-shadow: 0px 8px 7px 0px 
		rgba(52, 57, 61, 0.11);
    border-radius: 8px;
    padding: 0;
    border: none;
}

.content .ui.container {
    padding: 50px;
}

.content .header {
    font-family: PingFangSC-Semibold;
    font-size: 22px;
    padding-bottom: 17px;
}

.content a {
    color: rgba(34, 34, 34, 1);
}

.content .headnote {
    background-color: rgba(247, 248, 252, 1);
    border-radius: 8px;
    font-size: 16px;
    font-family: PingFangSC-Light, sans-serif;
    color: rgba(153, 153, 153, 1);
}

.content .headnote .container {
    padding: 22px 50px;
}

.content .ui.list {
    padding-top: 56px;
    margin: 0;
}

.content .ui.list .item {
    padding-bottom: 26px;
    font-size: 16px;
    line-height: 24px;
}

.content .ui.list .item .label {
    float: left;
    background-color: rgba(0, 205, 221, 1);
}

.content .ui.list .item .step {
    padding-left: 30px;
}

.content .footer {
    padding-top: 24px;
    font-family: PingFangSC-Semibold;
	font-size: 16px;
	line-height: 28px;
    color: rgba(34, 34, 34, 1);
    padding-bottom: 25px;
}