<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>Homepage - Semantic</title>

    <link rel="stylesheet" type="text/css" href="../dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="guide.css">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="../dist/semantic.min.js"></script>

    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <div class="ui container">
        <div class="ui grid">
            <div id="menu" class="three wide column">
                <div class="ui vertical pointing menu">
                    <menu-list v-for="item in menuList" v-bind:key="item.id" v-bind:tag="item.tag"
                        v-bind:title="item.title">
                    </menu-list>
                </div>
            </div>

            <div id="content" class="twelve wide stretched column">
                <div class="ui segment content">
                    <guide-list v-for="item in guideList" v-bind:key="item.id" v-bind:tag="item.tag"
                        v-bind:title="item.title" v-bind:headnote="item.headnote" v-bind:steps="item.steps"
                        v-bind:video_src="item.video_src" v-bind:video_placeholder="item.video_placeholder">
                    </guide-list>
                </div>
            </div>

        </div>

    </div>

</body>

<script type="text/javascript">
    // import {data} from './guide.json';

    $().ready(function () {
        $('.ui.embed').embed();
    })

    // $(window).scroll(function () {
    //     var hT = $('#scroll-to').offset().top,
    //         hH = $('#scroll-to').outerHeight(),
    //         wH = $(window).height(),
    //         wS = $(this).scrollTop();
    //     if (wS > (hT + hH - wH)) {
    //         console.log('H1 on the view!');
    //     }
    // });

    Vue.component('menu-list', {
        props: {
            tag: String,
            title: String
        },
        template: "<a :href=\"tag\" class=\"item\"> {{ title }} </a>"
    })

    Vue.component('guide-list', {
        props: {
            tag: String,
            title: String,
            headnote: String,
            steps: Array,
            video_src: String,
            video_placeholder: String
        },
        template: "<div class=\"ui container\">\
                        <div class=\"header\"><a :name=\"tag\"> {{ title }} </a></div>\
                        <div class=\"headnote\">\
                            <div class=\"container\">\
                                {{ headnote }} \
                            </div>\
                        </div>\
                        <div class=\"ui list\">\
                            <div class=\"item\" v-for=\"(step, index) in steps\">\
                                <div class=\"ui teal circular horizontal label\">{{ index+1 }}</div>\
                                {{ step }}\
                            </div>\
                        </div>\
                        <div class=\"footer\">\
                            具体的操作视频如下：\
                        </div>\
                        <div class=\"ui embed\" :data-url=\"video_src\" :data-placeholder=\"video_placeholder\"></div>\
                    </div>"
    })

    

    new Vue({
        el: '#menu',
        data: {
            menuList: [
                {
                    id: 0,
                    tag: "sign_up",
                    title: "新用户注册账号、新建早教机构",
                    headnote: "用户可通过注册/登录流程创建属于自己的氧育SaaS帐号，且在登录成功之后，系统支持用户创建园区机构。对于加盟园或集团园，支持总部-分部模式，方便各级分层管理。",
                    steps: [
                        "新用户通过浏览器输入：http://sg_staging.1314-edu.com/sign，输入账号（手机号或邮箱点击下一步）+ 验证码（手机验证码为短信，邮箱验证码需登录邮箱查看） + 设置登录密码（确认新密码）完成注册，进入web端个人中心。",
                        "进入“我的工作台”，将自己的账号添加到“申请为职员”。",
                        "新建新机构，且点击后进入新建的机构后台。"
                    ],
                    video_src: "http://cloud.1314-edu.com/0wm_1Yc3UxMJ1Ryh7gBxXxKgF6f7",
                    video_placeholder: "assets/images/guide/guide_sign_up.png"
                },
                {
                    id: 1,
                    tag: "import",
                    title: "园区基本资料编辑、部门配置、员工录入",
                    headnote: "用户可通过注册/登录流程创建属于自己的氧育SaaS帐号，且在登录成功之后，系统支持用户创建园区机构。对于加盟园或集团园，支持总部-分部模式，方便各级分层管理。",
                    steps: [
                        "进入园区SAAS系统。",
                        "点击左侧目录“人力资源管理->本机构->点击编辑按钮”在弹窗中编辑本机构的基本信息。",
                        "点击左侧目录“人力资源管理->部门”添加配置本机构的部门、职称。",
                        "点击左侧目录“人力资源管理->员工管理”录入园区的员工信息、配置员工任职部门、职称和后台管理员、老师权限。"
                    ],
                    video_src: "http://cloud.1314-edu.com/0wm_1Yc3UxMJ1Ryh7gBxXxKgF6f7",
                    video_placeholder: "assets/images/guide/guide_sign_up.png"
                }
            ]
        }
    })

    new Vue({
        el: '#content',
        data: {
            guideList: [
                {
                    id: 0,
                    tag: "sign_up",
                    title: "新用户注册账号、新建早教机构",
                    headnote: "用户可通过注册/登录流程创建属于自己的氧育SaaS帐号，且在登录成功之后，系统支持用户创建园区机构。对于加盟园或集团园，支持总部-分部模式，方便各级分层管理。",
                    steps: [
                        "新用户通过浏览器输入：http://sg_staging.1314-edu.com/sign，输入账号（手机号或邮箱点击下一步）+ 验证码（手机验证码为短信，邮箱验证码需登录邮箱查看） + 设置登录密码（确认新密码）完成注册，进入web端个人中心。",
                        "进入“我的工作台”，将自己的账号添加到“申请为职员”。",
                        "新建新机构，且点击后进入新建的机构后台。"
                    ],
                    video_src: "http://cloud.1314-edu.com/0wm_1Yc3UxMJ1Ryh7gBxXxKgF6f7",
                    video_placeholder: "assets/images/guide/guide_sign_up.png"
                },
                {
                    id: 1,
                    tag: "import",
                    title: "园区基本资料编辑、部门配置、员工录入",
                    headnote: "用户可通过注册/登录流程创建属于自己的氧育SaaS帐号，且在登录成功之后，系统支持用户创建园区机构。对于加盟园或集团园，支持总部-分部模式，方便各级分层管理。",
                    steps: [
                        "进入园区SAAS系统。",
                        "点击左侧目录“人力资源管理->本机构->点击编辑按钮”在弹窗中编辑本机构的基本信息。",
                        "点击左侧目录“人力资源管理->部门”添加配置本机构的部门、职称。",
                        "点击左侧目录“人力资源管理->员工管理”录入园区的员工信息、配置员工任职部门、职称和后台管理员、老师权限。"
                    ],
                    video_src: "http://cloud.1314-edu.com/0wm_1Yc3UxMJ1Ryh7gBxXxKgF6f7",
                    video_placeholder: "assets/images/guide/guide_sign_up.png"
                }
            ]
        },
    })
</script>

</html>